.admin-services-header {
    padding: 1.25rem;
    & div {
        font-weight: 600;
    }
}
.admin-services-service{
    padding: 1.25rem;

    & i {
        cursor: pointer;
    }

    & .services-service-id {
        font-weight: 600;
    }

    &:nth-child(even) {
        background-color: #f1f1f1;
    }

    .bi-pencil {
        cursor: pointer;
    }
}