.admin-clients-header {
    padding: 1.25rem;
    & div {
        font-weight: 600;
    }
}
.admin-clients-client{
    padding: 1.25rem;

    & i {
        cursor: pointer;
    }

    & .clients-client-id {
        font-weight: 600;
    }

    &:nth-child(even) {
        background-color: #f1f1f1;
    }

    .bi-pencil-fill {
        cursor: pointer;
    }
}